@import '../../styles/variables.scss';

.page {
  &__inside {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

.header {
  text-align: center;

  &__title {
    color: var(--text-color);
  }
}

.main {
  flex-grow: 1;
  width: 100%;
  max-width: 800px;
  min-width: 320px;
  padding: 0 10px;
  margin: auto;
}

.footer {
  background: var(--footer-background-color);
  height: 40px;
}
