@import '../../styles/variables.scss';

.quantity-switcher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid var(--button-border-color);
  border-radius: 0 2px 2px 0;

  &__current {
    width: 30px;
    height: 30px;
    color: var(--text-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    width: 30px;
    height: 30px;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
    }
  }
}
