.cart-item {
  padding: 40px;
  margin-bottom: 20px;
  position: relative;
  border-bottom: 1px solid var(--horisontal-rule-color);

  &__body {
    display: flex;
    justify-content: space-between;
    height: 100px;
  }

  &__name {
    color: var(--text-color);
  }

  &__fullprice {
    color: var(--text-color);
  }

  &__price-for-one {
    color: var(--text-color);
    font-size: 12px;
    font-style: italic;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .cart-item__delete-btn {
    color: var(--text-color);
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}
